# Google Sheets API認証
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# スプレッドシートID
SPREADSHEET_ID=1R5oMbJ7E-QfDFhHR164y8JKs6XLnkJcw8zBm2IPSn8E

# 認証用パスワード（社内共通）
DASHBOARD_PASSWORD=your-password-here
